#megaMenu{
    background-color: #f5f5f5;
    .res-menu-logo{
        display: none;
    }
    .container{
        .category-menu{
            padding: 0 !important;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            position: relative;
            margin-bottom: 0;
           
            .account-btns-res{
                height: 55px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                a{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    color: #222;
                      font-size: 13px;
                     font-weight: 300;
                    i{
                        margin-left: 10px;
                        font-size: 20px;
                    }
                }
            }
            @media screen and ( min-width :769px){
                .account-btns-res{
                    display: none ;
                }

            }
            
            li{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:#222 ;
                    font-size: 13px;
                    font-weight: 300;
                    height: 40px;
                    padding: 0 10px;
                    transition: all ease .3s;
                    &:hover{
                        background-color: #fff;
                    }
                    i{
                        margin-right: 8px;
                        font-size: 18px;
                    }
                }
                .mega-1{
                    display: none;
                    justify-content: flex-start;
                    flex-direction: column;
                    position: absolute;
                    top: 40px;
                    left: 0;
                    width: 100%;
                    height: auto;
                    background-color: #fff;
                    padding:10px 5px;
                    border: 1px solid #e0e0e0;
                    transition: all ease .2s;
                    z-index: 10;
                    .mega-1-row{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
          
                        .row-title{
                            color: #F9BC02;
                            font-size: 15px;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            height: 100px;
                            align-items: center;
                            box-sizing: border-box;
                            &:hover{
                                box-shadow:   0 1px 10px 1px #F9BC02;                            }
                            i{
                                font-size: 35px;
                            }
                        }
                        .mega-1-row-list{
                            flex-wrap: wrap;
                            padding-right: 0;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            li{
                                a{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100px;
                                    height: 100px;
                                    flex-direction: column;
                                    padding:10px 2px;
                                    border: 1px solid #e0e0e0;
                                    border-radius: 4px;
                                    margin-left: 8px;
                                    margin-bottom: 5px;
                                    span{
                                        font-size: 12px;
                                        margin-bottom: 5px;
                                        font-weight: bold;
                                        color: #666;
                                    }
                                    img{
                                       width: 98%;
                                       height: auto; 
                                       max-height: 60px;
                                    }
                                    &:hover{
                                        box-shadow:   0 1px 10px 1px #F9BC02;                            }
                                    i{
                                        font-size: 35px;
                                    }
                                }
                            }
                        }
                    }
                }
                .mega-2{
                    display: none;
                    justify-content: space-between;
                    flex-direction: row;
                    position: absolute;
                    align-items: flex-start;
                    top: 40px;
                    left: 0;
                    width: 100%;
                    height: auto;
                    background-color: #fff;
                    padding:10px 5px;
                    border: 1px solid #e0e0e0;
                    transition: all ease .2s;
                    z-index: 10;

                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-wrap: wrap;
                        background-color: #fff;
                        padding-right: 0;
                        li{
                            a{
                                display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100px;
                                    height: 100px;
                                    flex-direction: column;
                                    padding:10px 2px;
                                    border: 1px solid #e0e0e0;
                                    border-radius: 4px;
                                    margin-left: 8px;
                                    margin-bottom: 5px;
                                    span{
                                        font-size: 12px;
                                        margin-bottom: 5px;
                                        font-weight: bold;
                                        color: #666;
                                    }
                                    img{
                                       width: 98%;
                                       height: auto; 
                                       max-height: 60px;
                                    }
                                    &:hover{
                                        box-shadow:   0 1px 10px 1px #F9BC02;                            }
                                    i{
                                        font-size: 35px;
                                    }
                            }
                        }
                    }
                    .img-mega-2{
                        img{
                            width: 300px;
                            height: 300px;
                            border-radius: 4px;
                        }
                    }
                }
                .mega-3{
                    display: none;
                    justify-content: space-between;
                    flex-direction: row;
                    position: absolute;
                    align-items: flex-start;
                    top: 40px;
                    left: 0;
                    width: 100%;
                    height: auto;
                    background-color: #fff;
                    padding:10px 5px;
                    border: 1px solid #e0e0e0;
                    transition: all ease .2s;
                    z-index: 10;

                    .mega-3-uls{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        ul{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 150px;
                            margin-bottom: 15px;
                            .header{
                                width: 100%;
                                text-align: center;
                                display: inline-block;
                                font-size: 12px;
                                color: #666;
                                font-weight: bold;
                                border-bottom: 1px solid #222;
                                height: 25px;
                                &:hover{
                                    color: #333;
                                }
                            }
                        }
                    }
                    .img-mega-3{
                        img{
                            width: 300px;
                            height: 300px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
       
    }
}
@media screen and ( max-width : 768px){

    .res-menu-overlay{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0,0,0,.5);
        top: 0;
        right: -105%;
        z-index: 999;
        transition: all ease .3s;

    }
    .overlay-show{
        right: 0%;
    }
    #megaMenu{
        position: fixed !important;
        width: 75% !important;
        height: 100% !important;
        top:0;
        right:-80%;
        z-index: 1000;
        padding: 0 !important;
        background-color: #fff;
        transition: all ease-out .4s;
        margin:0 !important;
      overflow-y: scroll !important;
        .res-menu-logo{
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid #e0e0e0;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 220px !important;
                border-radius: 4px;
            }
        }
        .container{
            .category-menu{
                flex-direction: column !important;
                justify-content: flex-start !important;
                overflow: scroll !important;
                .mega-1-toggle , .mega-2-toggle , .mega-3-toggle{
                    width: 100% !important;
                    a{
                        width: 100% !important;
                        justify-content: space-between;
                        height: 55px;
                        align-items: center;
                    }
                    .mega-1 , .mega-2 , .mega-3{
                        position: static !important;
                    }
                    .mega-1{
                        border: none;
                        padding: 0 !important;
                        .mega-1-row{
                            flex-direction: column !important;
                            justify-content: flex-start !important;
                            .row-title{
                                justify-content: flex-start !important;
                                color: #222;
                                font-size: 13px;
                                font-weight:  normal !important;
                                height: 50px !important;
                                padding-right: 20px !important;
                                &:hover{
                                    box-shadow: none !important;
                                }
                                i{
                                    display: none !important;
                                }
                            }
                            .mega-1-row-list{
                                flex-direction: column;
                                padding-right: 30px;
                                display: none;
                                li{
                                    width: 100%;
                                    height: auto;
                                    a{
                                        height: auto;
                                        border: none !important;
                                        height: 40px !important;
                                        margin: 0 ;
                                        padding: 0;
                                        &:hover{
                                            box-shadow: none !important;
                                        }
                                        img{
                                            display: none;
                                        }
                                        span{
                                            width: 100%;
                                            text-align: right;
                                            color: #222;
                                            font-size: 13px;
                                            font-weight:  normal !important;
                                            margin: 0 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .mega-2{
                        padding: 0;
                        border: none;
                        padding-right: 20px;
                        ul{
                            display: flex;
                            flex-direction: column;
                            li{
                                width: 100%;
                                height: 40px !important;
                                a{
                                    height: 100%;
                                    padding: 0;
                                    margin: 0;
                                    border: none;
                                    width: 100%;
                                    &:hover{
                                        box-shadow: none;
                                    }
                                    img{
                                        display: none;
                                    }
                                    span{
                                        color: #222;
                                        font-size: 13px;
                                        font-weight: normal;
                                        width: 100%;
                                        text-align: right;
                                    }
                                }
                            }
                        }
                     .img-mega-2{
                         display: none !important;
                     }   
                    }
                    .mega-3{
                        border: 0;
                        padding-right: 20px;
                        padding: 0 !important;
                        margin: 0 !important;
                        padding-right: 20px !important;
                    }
                    .img-mega-3{
                        display: none;
                    }
                    .mega-3-uls{
                        display: flex;
                        flex-direction: column !important;
                        ul{
                            padding: 0 !important;
                            margin: 0 !important;
                            width: 100% !important;
                            
                            .header{
                                padding: 0;
                                font-size: 13px !important;
                                color: #222 !important;
                                border: none !important;
                                font-weight: normal !important;
                                width: 100%;
                                text-align: right !important;
                                height: 40px !important;
                                display: flex !important;
                                align-items: center !important;
                            }
                            li{
                                height: 40px !important;
                                display: none ;
                                align-items: center;
                                padding-right: 10px;
                                a{
                                    height: 100%;
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
     .mega-res-show{
        right: -2% !important;
    }
}
@media screen  and (min-width : 769px){
    .category-menu .mega-1-toggle:hover{
        .mega-1{
            display: flex !important;
        }
    }
    .category-menu .mega-2-toggle:hover{
        .mega-2{
            display: flex !important;
        }
    }
    .category-menu .mega-3-toggle:hover{
        .mega-3{
            display: flex !important;
        }
    }
}